.header {
  position: absolute;
  top: 0;
  z-index: 1;
  color: var(--white);
  width: 100%;
  border-bottom: 1px solid var(--white-trans50);
  padding: 2.4rem 0 2.2rem;

  @media (max-width: 48em) {
    border-bottom: none;
    padding: 1.6rem 0 1.6rem;
  }

  &_container {
    display: flex;
    justify-content: space-between;

    @media (max-width: 48em) {
      align-items: center;
    }
  }
  &_box {
    display: flex;
    gap: 6.4rem;
    align-items: center;
  }
  &_svg {
    width: 3.2rem;
    height: 3.2rem;

    svg {
      width: 3.2rem;
      height: 3.2rem;
    }
  }
}