@import url("./_assets/fonts/fonts.css");

*,
*::before,
*::after {
    box-sizing: border-box;
}
html {
    font-family: "Inter", sans-serif;
    font-size: 0.694vw;
    font-style: normal;
    font-weight: normal;
    -webkit-animation: bugfix infinite 1s;
    line-height: 1.2;
    margin: 0;
    padding: 0;

  font-family: Gilroy;
  font-size: 20rem;
  font-family: Involve;
  font-family: Helvetica;
}

body {
  --white:  #fbfdfd ;
  --white-trans50: rgb( 251, 253, 253, 0.6);
  --white-trans10: rgb( 251, 253, 253, 0.05);
  --grey: #848484;
  --orange-l: #F39779;
  --orange-m: #E97550;
  --orange-sb: #E05D33;
  --green-l: #1A4A4B;
  --green-sb: #114142;
  --green-b: #063536;
  --text-w: #FBFDFD;
  --text-b: #063536;
}

body {
    font-style: normal;
    font-weight: normal;
    -webkit-animation: bugfix infinite 1s;
    line-height: 1.2;
    margin: 0;
    padding: 0;
    color: var(--text-b);
    background-color: var(--white);
}

input,
textarea {
    -webkit-animation: bugfix infinite 1s;
    line-height: inherit;
    margin: 0;
    padding: 0;
    background-color: transparent;
    border: none;
    color: inherit;
    resize: none;
}
a {
    color: unset;
}
a,
a:hover {
    text-decoration: none;
}

button,
input,
a,
textarea {
    outline: none;
    cursor: pointer;
    font: inherit;
    &:focus {
        outline: none;
    }
    &:active {
        outline: none;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font: inherit;
    margin: 0;
    padding: 0;
}
p {
    margin-top: 0;
    margin-bottom: 0;
}

img {
    width: 100%;
    height: auto;
    display: block;
}

button {
    border: none;
    color: inherit;
    font: inherit;
    text-align: inherit;
    padding: 0;
    background-color: transparent;
}
ul {
    padding: 0;
    margin: 0;
}

ul li {
    margin: 0;
    padding: 0;
    list-style: none;
}

.container {
    width: 135.6rem;
    margin: 0 auto;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}
section {
    margin-bottom: 14rem;
}

@media (min-width: 1440px) {
    html {
        font-size: 10px;
    }
}

@media (max-width: 48em) {
    html {
        font-size: 5px;
        font-size: 1.5625vw;
        font-size: calc((100 / 375) * 10vw);
        -webkit-text-size-adjust: none;
    }

    body {
        -webkit-text-size-adjust: none;
        background-color: #fff;
    }

    .container {
        padding: 0 2rem;
        width: 100%;
    }

    section {
        margin-bottom: 7.2rem;
    }
}

.mobile {
  display: none;
}
@media (max-width: 48em) {
  .desktop {
    display: none;
  }
  .mobile {
    display: block;
  }
}

.h1 {
  font-family: Involve;
  font-weight: 500;
  font-size: 6.4rem;
  line-height: 130%;
}
.h2 {
  font-family: Gilroy;
  font-weight: 800;
  font-size: 4.8rem;
  line-height: 130%;
}
.h3 {
  font-family: Helvetica;
  font-weight: 400;
  font-size: 4rem;
  line-height: 130%;
}
.h4 {
  font-family: Gilroy;
  font-weight: 800;
  font-size: 3.2rem;
  line-height: 130%;
}
.h5 {
  font-family: Gilroy;
  font-weight: 800;
  font-size: 2.2rem;
  line-height: 130%;
}
.h6 {
  font-family: Helvetica;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 130%;
}

.text1 {
  font-family: Helvetica;
  font-weight: 400;
  font-size: 2.6rem;
  line-height: 140%;
}
.text2 {
  font-family: Helvetica;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 140%;
}
.text3 {
  font-family: Helvetica;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 140%;
}
.text4 {
  font-family: Helvetica;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 140%;
}
.text4-b {
  font-family: Helvetica;
  font-weight: 600;
  font-size: 1.4rem;
  line-height: 140%;
}
.text5 {
  font-family: Helvetica;
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 140%;
}

.text-btn-l {
  font-family: Gilroy;
  font-weight: 800;
  font-size: 2rem;
  line-height: 2.4rem;
}
.text-btn-m {
  font-family: Helvetica;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 2rem;
}

.text-field-b {
  font-family: Helvetica;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 2.4rem;
}
.text-field-s {
  font-family: Helvetica;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.4rem;
}

@media (max-width: 48em) {
  .h1 {
    font-size: 2.8rem;
    line-height: 120%;
  }
  .h2 {
    font-size: 2.4rem;
    line-height: 120%;
  }
  .h3 {
    font-size: 2.2rem;
    line-height: 120%;
  }
  .h4 {
    font-size: 2rem;
    line-height: 120%;
  }
  .h5 {
    font-size: 1.8rem;
    line-height: 120%;
  }
  .h6 {
    font-size: 1.6rem;
    line-height: 120%;
  }
  
  .text1 {
    font-size: 1.6rem;
    line-height: 130%;
  }
  .text2 {
    font-size: 1.5rem;
    line-height: 130%;
  }
  .text3 {
    font-size: 1.4rem;
    line-height: 130%;
  }
  .text4 {
    font-size: 1.3rem;
    line-height: 130%;
  }
  .text4-b {
    font-size: 1.3rem;
    line-height: 130%;
  }
  .text5 {
    font-size: 1.3rem;
    line-height: 130%;
  }
}

.text-color-transp {
  color: var(--white-trans50);
}
.text-color-link {
  color: var(--orange-m);
  transition: color 0.5s ease-out;
}
.text-color-link:hover {
  color: var(--orange-l);
}

.btn-normal {
  font-family: Gilroy;
  font-weight: 800;
  font-size: 2rem;
  line-height: 2.4rem;
  background: var(--orange-m);
  color: var(--text-w);
  transition: background 0.5s ease-out;
  display: block;
  height: 5.2rem;
  width: 23.1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn-normal:hover {
  background: var(--orange-l);
}

.form-checkbox__box {
  width: 2.4rem;
  height: 2.4rem;
  position: relative;
  border: 1px solid var(--green-b);
}
.form-checkbox__box input {
  position: absolute;
  opacity: 0;
}
.form-checkbox__box div {
  position: absolute;
  left: 0.8rem;
  top: 0.2rem;
  width: 0.7rem;
  height: 1.4rem;
  border: solid var(--orange-m);
  border-width: 0 0.2rem 0.2rem 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  opacity: 0;
}

.form-checkbox__box input:checked ~ div {
  opacity: 1;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}
.form-container {
  display: flex;
  justify-content: space-between;
}
.form-container input, .form-container textarea {
  padding: 2rem 2.4rem;
  border: 1px solid var(--green-b);
  width: 42.8rem;
}
.form-container input::placeholder, .form-container textarea::placeholder {
  color: var(--grey);
}

.form-container input:focus, .form-container textarea:focus, .form-container input:hover, .form-container textarea:hover {
  border: 1px solid var(--orange-m);
}

.form-end {
  display: flex;
  justify-content: space-between;
  margin-top: 1.6rem;
}
.form-checkbox {
  cursor: pointer;
  display: flex;
  gap: 1.2rem;
  align-items: center;
}

@media (max-width: 48em) {
  .form-container {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
  }
  .form-container input, .form-container textarea {
    padding: 1.6rem 2.4rem;
    width: 100%;
  }
  .form-end {
    display: flex;
    flex-direction: column;
    gap: 3.2rem;
    margin-top: 1.6rem;
  }
  .form-checkbox {
    gap: 0.6rem;
  }
}