.body {

}

.h1 {
  font-family: Involve;
  font-weight: 500;
  font-size: 6.4rem;
  line-height: 130%;
}
.h2 {
  font-family: Gilroy;
  font-weight: 800;
  font-size: 4.8rem;
  line-height: 130%;
}
.h3 {
  font-family: Helvetica;
  font-weight: 400;
  font-size: 4rem;
  line-height: 130%;
}
.h4 {
  font-family: Gilroy;
  font-weight: 800;
  font-size: 3.2rem;
  line-height: 130%;
}
.h5 {
  font-family: Gilroy;
  font-weight: 800;
  font-size: 2.2rem;
  line-height: 130%;
}
.h6 {
  font-family: Helvetica;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 130%;
}

.text1 {
  font-family: Helvetica;
  font-weight: 400;
  font-size: 2.6rem;
  line-height: 140%;
}
.text2 {
  font-family: Helvetica;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 140%;
}
.text3 {
  font-family: Helvetica;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 140%;
}
.text4 {
  font-family: Helvetica;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 140%;
}
.text4-b {
  font-family: Helvetica;
  font-weight: 600;
  font-size: 1.4rem;
  line-height: 140%;
}
.text5 {
  font-family: Helvetica;
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 140%;
}

.text-btn-l {
  font-family: Gilroy;
  font-weight: 800;
  font-size: 2rem;
  line-height: 2.4rem;
}
.text-btn-m {
  font-family: Helvetica;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 2rem;
}

.text-field-b {
  font-family: Helvetica;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 2.4rem;
}
.text-field-s {
  font-family: Helvetica;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.4rem;
}